<!DOCTYPE html>
<html>
<head>
    <title>Image Captioning</title>
</head>
<body>

<h2>Upload Image</h2>

<input type="file" id="image">
<button onclick="upload()">Generate Caption</button>

<p id="result"></p>

<script>
function upload() {
    let file = document.getElementById("image").files[0];

    let formData = new FormData();
    formData.append("image", file);

    fetch("/predict", {
        method: "POST",
        body: formData
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("result").innerText = data.caption;
    });
}
</script>

</body>
</html>